.widget {
    border: 1px black solid;
    border-radius: 1em;
    margin: 5px;
}

.widget-header {
    border-radius: 1em 1em 0 0;
    background-color: #222;
    border-bottom: 1px #080808 solid;
    padding: 10px;
    text-align: center;
    color: #999;
}

.widget-body {
    border-radius: 0 0 1em 1em;
    padding: 10px;
}

#mapdiv { width:100%; height:550px; }
div.olControlAttribution { bottom:3px; }

.popup {
    position: absolute;
    padding: 5px;
    font-size: 8pt;
    z-index: 1000;
    background-color: white
}

#footer {
    padding-top: 10px;
    padding-bottom: 10px;
}

#anomalies {
    display: none;
}

.navbar-brand {
    font-size: 20px;
    padding-top: 12px;
}
