.widget {
    border: 1px black solid;
    border-radius: 1em;
    margin: 5px;
}

.widgetP {
    border: 1px black solid;
    border-radius: 1em;
    margin: 5px;
    width: 49%;
    float: left;
}

.largeWidgetP {
    border: 1px black solid;
    border-radius: 1em;
    margin: 5px;
    width: 49%;
    float: left;
}

.widgetC {
    border: 1px black solid;
    border-radius: 1em;
    margin: 5px;
    width: 49%;
    float: right;
}

.largeWidgetC {
    border: 1px black solid;
    border-radius: 1em;
    margin: 5px;
    width: 48%;
    float: right;
}

.widget-header {
    border-radius: 1em 1em 0 0;
    background-color: #222;
    border-bottom: 1px #080808 solid;
    padding: 10px;
    text-align: center;
    color: #999;
}

.widget-body {
    border-radius: 0 0 1em 1em;
    padding: 10px;
}

#mapdiv { width:100%; height:550px; }
div.olControlAttribution { bottom:3px; }

#mapdiv1 { width:100%; height:550px; }
div.olControlAttribution { bottom:3px; }

.popup {
    position: absolute;
    padding: 5px;
    font-size: 8pt;
    z-index: 1000;
    background-color: white
}

#footer {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-brand {
    font-size: 20px;
    padding-top: 12px;
}

#anomalies {
    display: none;
}

#anomalies-table {
    height: 75px;
    overflow: auto;
}

.navbar-logo {
    margin-top: 6px;
    margin-left: 5px;
}
