{% extends "bootstrap/base.html" %} 
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button"class="navbar-toggle"data-toggle="collapse"
                data-target=".navbar-collapse">
                <span class="sr-only">
                    Toggle navigation
                </span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Flasky</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
<script src="http://bikeshare.cs.pdx.edu:8081/javascript/openstreetmap/OpenStreetMap.js"></script>
<script src="http://bikeshare.cs.pdx.edu:8081/javascript/openstreetmap/portlandMap.js"></script>
<script> window.onload = function() {
        init();
};
</script>
{% endblock %}
{% block content %}

<style>
    #mapdiv { width:1400px; height:1000px; }
    div.olControlAttribution { bottom:3px; }
</style>
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}
