{%extends "base.html" %}

{% block title %}BikeShare{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-sm-3" id="left">
            <div class="widget">
                <div class="widget-header">
                    <strong>Overview</strong> 
                </div>
                <div class="widget-body">
                <table class="table">
                    <tbody>
                        <tr><td>Total Bikes</td><td id="tbikes">{{ bikes }}</td></tr>
                        <tr><td>Total Stations</td><td id="tstations">{{ stations }}</td></tr>
                        <tr><td>Total Bikers</td><td id="tbikers">{{ users }}</td></tr>
                        <tr><td>Bikes in use</td><td id="abikes">{{ active_bikes }}</td></tr>
                        <tr><td>Average Bikes/Station</td><td id="avgbikes">{{ bikes_per_station }}</td></tr>
                    </tbody>
                </table>
                </div>
            </div>
            <div class="widget">
                <div class="widget-header">
                    <strong>Quick Navigation</strong>
                </div>
                <div class="widget-body">
                    <a href="/stations"><p class="text-center">View all Stations</p></a>
                    <hr>
                    <a href="/bikes"><p class="text-center">View all Bikes</p></a>
                    <hr>
                    <a href="/users"><p class="text-center">View all Users</p></a>
                </div>
            </div>
            <div class="widget">
                <div class="widget-header">
                    <strong>Map Legend</strong>
                </div>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-md-1"><img src="/static/ic_launcher_green32.png" class="img-responseive" alt="Blue icon"></span></div>
                        <div class="col-md-5">Healthy Station</div>
                        <div class="col-md-1"><img src="/static/ic_launcher_yellow32.png" class="img-responseive" alt="Yellow icon"></span></div>
                        <div class="col-md-4">Warning Station</div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"><img src="/static/ic_launcher_red32.png" class="img-responseive" alt="Red icon"></span></div>
                        <div class="col-md-5">Danger Station</div>
                        <div class="col-md-1"><img src="/static/ic_launcher_blue32.png" class="img-responseive" alt="Green icon"></span></div>
                        <div class="col-md-4">Active Bike</div>
                    </div> 
                </div>
            </div>
	

        </div>
        <div class ="col-sm-9">
            <div class="widget">
                <div class="widget-header">
                    <strong>Anomalies</strong>
                </div>
                <div class="widget-body">
                    
                </div>
            </div>
            <div id="mapdiv"></div>
        </div>
    </div>
<script type="text/javascript">
    window.onload = function() {
        setInterval(function(){update_stats()}, 1000);
    };
</script>
{% endblock %}
