{%extends "base.html" %}

{% block title %}Station Details{% endblock %}

{% block page_content %}
<h2><p class="text-center">Station ID: {{ station_id }}</p></h2>
<p class="text-center">Location: ({{ lat }}, {{ lon }})</p>
<p class="text-center">Address:{{ addr }}</p>
<div class="row">
    <div class="col-sm-9">
        <div class="widget">
            <div class="widget-header">
                <strong>History</strong>
            </div>
            <div class="widget-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>Date</td>
                            <td>Time</td>
                            <td>Number of Bikes</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="widget">
            <div class="widget-header">
                <strong>Current Status</strong>
            </div>
            <div class="widget-body">
                <table class="table">
                    <tr><td>Station Name:</td><td>{{ name }}</td></tr>
                    <tr><td># Bikes Available</td><td>{{ num_bikes }}</td></tr>
                    <tr><td># Docks Available:</td><td>{{ num_docks }}</td></tr>
                    <tr><td>Current Dock Discount:</td><td>{{ discount }}</td></tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
