{%extends "base.html" %}

{% block title %}All Stations{% endblock %}

{% block page_content %}
<div class="widget">
    <div class="widget-header">
        <div class="row">
            <div class="col-sm-8">
                <strong>All Stations</strong>
            </div>
            <div class="col-sm-4">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <select class="form-control input-sm">
                        <option value="">
                            Station ID
                        </option>
                        <option value="">
                            Address 
                        </option>
                        <option value="">
                            Total Docks (Increasing)
                        </option>
                        <option value="">
                            Total Docks (Decreasing)
                        </option>
                        <option value="">
                            Available Bikes (Increasing)
                        </option>
                        <option value="">
                            Available Bikes (Decreasing)
                        </option>
                    </select>
                </div>
            </form>
            </div>
        </div>
    </div>
    <div class="widget-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Station ID</td>
                    <td>Station Name</td>
                    <td>Address</td>
                    <td>Location</td>
                </tr>
            </thead>
            <tbody>
                {% for station in stations_list: %}
                <tr>
                    <td>{{ station['STATION_ID'] }}</td>
                    <td>{{ station['STATION_NAME'] }}</td>
                    <td>{{ station['STREET_ADDRESS'] }}</td>
                    <td>({{ station['LATITUDE'] }},{{ station['LONGITUDE'] }})</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
