{%extends "base.html" %}

{% block title %}User Details{% endblock %}

{% block page_content %}
<h2><p class="text-center">Username: {{ user['USER_NAME'] }}</p></h2>
<p class="text-center">User ID: {{ user['USER_ID'] }}</p>
<div class="row">
        <div class="widget">
            <div class="widget-header">
                <strong>Customer Information</strong>
            </div>
            <div class="widget-body">
                <table class="table">
                    <thead></thead>
                    <tbody>
                        <tr>
                            <td>User ID:</td>
                            <td>{{ user['USER_ID'] }}</td>
                        </tr>
                        <tr>
                            <td>User Name:</td>
                            <td>{{ user['USER_NAME'] }}</td>
                        </tr>
                        <tr>
                            <td>Membership Status:</td>
                            <td>{{ user['MEMBERSHIP_STATUS'] }}</td>
                        </tr>
                        <tr>
                            <td>Credit Card #:</td>
                            <td>{{ user['CREDIT_CARD'] }}</td>
                        </tr>
                    <tbody>
                </table>
            </div>
        </div>
</div>
{% endblock %}
